Repository jpypi/rustix: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rustix, build-db-migration, deploy

.gitlab-ci.yml:

stages:
  - build
  - deploy
  - publish
  - release

.docker-build:
  # official docker image
  image: docker:latest
  # Docker-in-Docker documentation: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY


build-rustix:
  extends: .docker-build
  stage: build
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":branch-$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - docker build --build-arg BuildEnv=prod --pull -t "$CI_REGISTRY_IMAGE/rustix${tag}" -f rustix.Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE/rustix${tag}"
  rules:
    - if: $CI_COMMIT_TAG =~ /v.+/
    - if: $CI_COMMIT_BRANCH
      changes:
        - rustix.Dockerfile
        - Cargo.lock
        - src/**/*.rs

build-db-migration:
  extends: .docker-build
  stage: build
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - docker build --pull -t "$CI_REGISTRY_IMAGE/rustix-db-migration${tag}" -f migration.Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE/rustix-db-migration${tag}"
  rules:
    - if: $CI_COMMIT_TAG =~ /v.+/
    - if: $CI_COMMIT_BRANCH
      changes:
        - migration.Dockerfile
        - Cargo.lock
        - diesel.toml
        - migrations/**/*.sql

deploy:
  stage: deploy
  script:
    - mkdir ~/.ssh
    - cat $DEPLOY_KEY > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - cat $DEPLOY_KNOWN_HOST > ~/.ssh/known_hosts
    - scp docker-compose.yml $DEPLOY_USER@$DEPLOY_HOST:rustix/docker-compose.yml
    - scp Makefile $DEPLOY_USER@$DEPLOY_HOST:rustix/Makefile
    - ssh $DEPLOY_USER@$DEPLOY_HOST "cd rustix ; make update"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - rustix.Dockerfile
        - migration.Dockerfile
        - Cargo.lock
        - diesel.toml
        - src/**/*.rs
        - migrations/**/*.sql

publish-containers:
  extends: .docker-build
  stage: publish
  script:
    - tag=$(echo $CI_COMMIT_TAG | sed s/v//)
    - docker pull $CI_REGISTRY_IMAGE/rustix-db-migration:latest
    - docker tag $CI_REGISTRY_IMAGE/rustix-db-migration:latest $CI_REGISTRY_IMAGE/rustix-db-migration:${tag}
    - docker push $CI_REGISTRY_IMAGE/rustix-db-migration:${tag}
    - docker pull $CI_REGISTRY_IMAGE/rustix:latest
    - docker tag $CI_REGISTRY_IMAGE/rustix:latest $CI_REGISTRY_IMAGE/rustix:${tag}
    - docker push $CI_REGISTRY_IMAGE/rustix:${tag}
  rules:
    - if: $CI_COMMIT_TAG =~ /v.+/

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - tag=$(echo $CI_COMMIT_TAG | sed s/v//)
    - |
      release-cli create --name "Rustix - ${tag}" --tag-name $CI_COMMIT_TAG \
        --assets-link "{\"name\":\"Rustix Container\",\"url\":\"https://gitlab.com/jpypi/rustix/container_registry/3842543\",\"link_type\":\"image\"}" \
        --assets-link "{\"name\":\"Rustix DB Migrations Container\",\"url\":\"https://gitlab.com/jpypi/rustix/container_registry/3842544\",\"link_type\":\"image\"}"
  rules:
    - if: $CI_COMMIT_TAG =~ /v.+/

Add on_load and on_exit to Voteremove service
  src/services/voteremove.rs
Due: build-rustix, deploy

Add body() method to RoomEvent
  src/bot.rs
Due: build-rustix, deploy

Add roll command
  README.md
  src/main.rs
  src/services/mod.rs
  src/services/roll.rs
Due: build-rustix, deploy

Add voteban command missing from README
  README.md
Due: none

Fix: Make joined command stop over-locking client
  src/services/get_joined.rs
Due: build-rustix, deploy

Address many clippy lints
  src/bot.rs
  src/client.rs
  src/filters/channel_filter.rs
  src/filters/user_filter.rs
  src/services/bonequest.rs
  src/services/choose.rs
  src/services/csv_quote.rs
  src/services/echo.rs
  src/services/help.rs
  src/services/nodectrl/configure.rs
  src/services/openai/gpt.rs
  src/services/prefix.rs
  src/services/tryfile.rs
  src/services/voteremove.rs
Due: build-rustix, deploy

Address more clippy lints
  src/bot.rs
  src/client.rs
  src/services/choose.rs
  src/services/nodectrl/configure.rs
  src/services/openai/gpt.rs
  src/services/quote/quotes.rs
  src/services/voteremove.rs
  src/utils.rs
Due: build-rustix, deploy

Update dependencies
  Cargo.lock
Due: build-rustix, build-db-migration, deploy

More code cleanup/simplification per clippy
  src/bot.rs
  src/client.rs
  src/services/bonequest.rs
  src/services/crypto_coin.rs
  src/services/factoid/mod.rs
  src/services/factoid/service.rs
  src/services/karma/rank_karma.rs
  src/services/karma/tracking.rs
  src/services/openai/gpt.rs
  src/services/quote/backend.rs
  src/services/roulette.rs
  src/services/structure.rs
  src/services/tryfile.rs
  src/services/voteremove.rs
Due: build-rustix, deploy

Update dependencies per dependabot
  Cargo.lock
Due: build-rustix, build-db-migration, deploy

Clippy code cleanup
  Cargo.lock
  Cargo.toml
  src/bot.rs
  src/config.rs
  src/filters/forward_filter.rs
  src/filters/message_type_filter.rs
  src/services/factoid/backend.rs
  src/services/karma/backend.rs
  src/services/quote/backend.rs
  src/services/structure.rs
  src/state.rs
Due: build-rustix, build-db-migration, deploy

Fix crash w/crypto command where ticker.len < 3
  src/services/crypto_coin.rs
Due: build-rustix, deploy

Normalize to lowercase when checking karma ranks
  src/services/karma/backend.rs
Due: build-rustix, deploy

Add aliases for karma rank commands
  src/services/karma/rank_karma.rs
Due: build-rustix, deploy

Address some clippy lints
  src/client.rs
  src/services/crypto_coin.rs
  src/services/karma/backend.rs
  src/services/structure.rs
  src/services/voteremove.rs
Due: build-rustix, deploy

Clean up ShowKarma; make it more idiomatic
  src/services/karma/show_karma.rs
Due: build-rustix, deploy

Add test stage to ci
  .gitlab-ci.yml
Due: none

Use code block for karma rank responses
  src/services/karma/rank_karma.rs
Due: build-rustix, deploy

Fix reservoir_sample where len input < K
  src/utils.rs
Due: build-rustix, deploy

Update rustix version
  Cargo.toml
Due: none

Update rustix version in Cargo.lock
  Cargo.lock
Due: build-rustix, build-db-migration, deploy

Add editquote command
  src/main.rs
  src/services/quote/backend.rs
  src/services/quote/edit_quote.rs
  src/services/quote/mod.rs
Due: build-rustix, deploy

Fix a few clippy lints in rank_karma
  src/services/karma/rank_karma.rs
Due: build-rustix, deploy

Enable dot match newline in EditQuote regex
  src/services/quote/edit_quote.rs
Due: build-rustix, deploy

Update bonequest regex
  src/services/bonequest.rs
Due: build-rustix, deploy

Add bf interpreter service
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/services/bf.rs
  src/services/mod.rs
Due: build-rustix, build-db-migration, deploy

Update rust version in rustix container
  rustix.Dockerfile
Due: build-rustix, deploy

Clean up README
  README.md
Due: none

Update bf-lang dep locked commit
  Cargo.lock
Due: build-rustix, build-db-migration, deploy

Add duel command
  README.md
  src/main.rs
  src/services/duel.rs
  src/services/mod.rs
Due: build-rustix, deploy

Add easy debug target to Makefile
  Makefile
Due: none

Refactor to work with matrix api v3
  src/bot.rs
  src/client.rs
  src/errors.rs
  src/matrix_types.rs
Due: build-rustix, deploy

Make rustix Dockerfile cache deps for faster build
  rustix.Dockerfile
Due: build-rustix, deploy

Add more stuff to .gitignore; avoid accidents
  .gitignore
Due: none

Address clippy warnings re references
  src/client.rs
  src/services/bf.rs
  src/services/duel.rs
Due: build-rustix, deploy

minor: fix code formatting
  src/services/karma/rank_karma.rs
Due: build-rustix, deploy

Add github FUNDING config
  .github/FUNDING.yml
Due: none

Move edit quote command to separate perm node
  src/main.rs
Due: build-rustix, deploy

Fix editquote help text spelling
  src/services/quote/edit_quote.rs
Due: build-rustix, deploy

Fix user filter edge case
  src/client.rs
  src/filters/self_filter.rs
  src/main.rs
Due: build-rustix, deploy
