Repository jpypi/rustix: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-latest-rustix, build-latest-rustix-db-migration

.gitlab-ci.yml:

stages:
  - build
  - deploy

.docker-build:
  # official docker image
  image: docker:latest
  # Docker-in-Docker documentation: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY


build-latest-rustix:
  extends: .docker-build
  stage: build
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - docker build --build-arg BuildEnv=prod --pull -t "$CI_REGISTRY_IMAGE/rustix${tag}" -f rustix.Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE/rustix${tag}"
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - rustix.Dockerfile
        - Cargo.lock
        - src/**/*.rs

build-latest-rustix-db-migration:
  extends: .docker-build
  stage: build
  # Default branch leaves tag empty (= latest tag)
  # All other branches are tagged with the escaped branch name (commit ref slug)
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - docker build --pull -t "$CI_REGISTRY_IMAGE/rustix-db-migration${tag}" -f migration.Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE/rustix-db-migration${tag}"
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - migration.Dockerfile
        - Cargo.lock
        - diesel.toml
        - migrations/**/*.sql

deploy:
  stage: deploy
  script:
    - mkdir ~/.ssh
    - cat $DEPLOY_KEY > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - cat $DEPLOY_KNOWN_HOST > ~/.ssh/known_hosts
    - scp docker-compose.yml $DEPLOY_USER@$DEPLOY_HOST:rustix/docker-compose.yml
    - scp Makefile $DEPLOY_USER@$DEPLOY_HOST:rustix/Makefile
    - ssh $DEPLOY_USER@$DEPLOY_HOST "cd rustix ; make update"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Allow delay service queries to be targeted
  src/bot.rs
  src/services/help.rs
  src/services/structure.rs
Due: build-latest-rustix

Minor bracket cleanup
  src/bot.rs
Due: build-latest-rustix

Add configure method to Node trait
  src/bot.rs
Due: build-latest-rustix

Refactor: move utils out of services
  src/lib.rs
  src/services/csv_quote.rs
  src/services/factoid/factoid.rs
  src/services/factoid/list_all_factoid.rs
  src/services/help.rs
  src/services/mod.rs
  src/services/openai/gpt.rs
  src/services/quote/quotes.rs
  src/services/structure.rs
  src/services/tryfile.rs
  src/utils.rs
Due: build-latest-rustix

Add node configure node
  src/bot.rs
  src/main.rs
  src/services/mod.rs
  src/services/nodectrl/configure.rs
  src/services/nodectrl/mod.rs
Due: build-latest-rustix

Make channel filter node configurable
  Cargo.lock
  Cargo.toml
  src/filters/channel_filter.rs
Due: build-latest-rustix, build-latest-rustix-db-migration

Match README pipeline badge width to project badge
  README.md
Due: none

Clarify filter name to all_factoids_channel_filter
  src/main.rs
Due: build-latest-rustix

Save allow/deny mode state for channel filter
  src/filters/channel_filter.rs
  src/utils.rs
Due: build-latest-rustix

Increase bot robustness. get_service cleaner fail
  src/bot.rs
Due: build-latest-rustix

Make help able to target individual services
  src/services/help.rs
Due: build-latest-rustix

Add "from" to RoomEvent
  src/bot.rs
  src/services/nodectrl/configure.rs
Due: build-latest-rustix

Prevent reply to old msgs on join w/forward filter
  src/filters/forward_filter.rs
  src/filters/mod.rs
  src/main.rs
Due: build-latest-rustix

Only join rooms when invite event is from invite
  src/services/membership.rs
Due: build-latest-rustix

Make max karma per message a config var
  README.md
  config.toml
  src/main.rs
  src/services/karma/tracking.rs
Due: build-latest-rustix

Add ci release stage
  .gitlab-ci.yml
Due: none

Fix release rules syntax
  .gitlab-ci.yml
Due: none

Fix spelling in ci release stage
  .gitlab-ci.yml
Due: none

Add docker pull prior to adding tag for release
  .gitlab-ci.yml
Due: none

Add needs for deploy
  .gitlab-ci.yml
Due: none

Make deploy needs optional
  .gitlab-ci.yml
Due: none

Add changes rule to deploy
  .gitlab-ci.yml
Due: none

Pass &Bot thru delay service query for configure
  src/bot.rs
  src/filters/channel_filter.rs
  src/services/help.rs
  src/services/nodectrl/configure.rs
  src/services/structure.rs
Due: build-latest-rustix

Add config description func to node trait
  src/bot.rs
Due: build-latest-rustix

Make pattern match more sensible in help node
  src/services/help.rs
Due: build-latest-rustix

Add help text to channel filter config
  src/filters/channel_filter.rs
Due: build-latest-rustix

Add help command to nodectrl
  src/services/nodectrl/configure.rs
Due: build-latest-rustix

Factoids match whole words
  src/services/factoid/backend.rs
Due: build-latest-rustix

Require factoids to start a line
  src/services/factoid/backend.rs
Due: build-latest-rustix

Remove unnecessary else branch
  src/filters/forward_filter.rs
Due: build-latest-rustix

Update pipeline for releases
  .gitlab-ci.yml
Due: none

Clean up documentation; Closes #24
  README.md
  src/services/factoid/factoid.rs
Due: build-latest-rustix

Improve publish/release pipeline
  .gitlab-ci.yml
Due: none

Add missing "release" stage
  .gitlab-ci.yml
Due: none

Put "node" in backticks
  README.md
Due: none

Enable specifying item w/badkarmastats
  README.md
  src/services/karma/backend.rs
  src/services/karma/rank_karma.rs
Due: build-latest-rustix

Add random bonequest dialog line command
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/services/bonequest.rs
  src/services/mod.rs
Due: build-latest-rustix, build-latest-rustix-db-migration

Add release badge to README
  README.md
Due: none

Update rust version in Dockerfiles
  migration.Dockerfile
  rustix.Dockerfile
Due: build-latest-rustix, build-latest-rustix-db-migration

Add channel filter for bq command to structure
  src/main.rs
Due: build-latest-rustix
